.loadButton {
  margin-bottom: 30px;
}

.loadButton button {
  color: white;
  background-color: navy;
  border: 2px solid navy;
  box-shadow: 0px 5px 5px #00000040;
  transition: 0.3s;
}

.loadButton button:focus {
  outline: none;
}
